name: Android CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew assembleDebug
    - name: Build iOS shared code
      run: ./gradlew :shared:compileKotlinIosArm64
    - name: Tests
      run:  ./gradlew allTests
    - name: Build server
      run: ./gradlew :server:assemble


  androidTest:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Android Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          script: ./gradlew androidApp:connectedAndroidTest